<!-- 加载CSS文件 -->
<link href="<?php echo apth_url(THEME.'/template/activities/activities.css');?>" rel="stylesheet" type="text/css">

<!-- 标题 -->
<h1 class="bodys-inner-title">
	配置
	<span class="setconfig-span"><font color="#44b549">配置</font> / 现金活动列表</span>
</h1>
<!-- 内容模板 -->
<div class="body-block box-shadow-border">
	<div class="alipay-hb">
		<div class="alipay-hb-title" style="margin-bottom:0.8rem;">
			<input type="button" onclick="createHB()" value="创建现金红包" class="create_hb"/>
		</div>
		<div class="alipay-hb-item">
			<table class="wx-table tableBox">
				<tr>
					<th>活动名称</th>
					<th>现金活动号</th>
					<th>现金活流水号</th>
					<th>添动状态</th>
					<th>操作</th>
				</tr>
	<?php if( !empty($data['rows']['list']) ): ?>
		<?php foreach($data['rows']['list'] as $k=>$v ): ?>			
				<tr>
					<td><?php echo $v->coupon_name;?></td>
					<td><?php echo $v->crowd_no;?></td>
					<td><?php echo $v->origin_crowd_no;?></td>
					<td><?php echo GetGatewayState($v->camp_status);?></td>
					<td>
						&nbsp;
						<a href="javascript:;" onclick="openDetails('<?php echo $v->crowd_no;?>')">详情</a>
						&nbsp;
						<a href="https://auth.alipay.com?goto=https://hi.alipay.com/query/openCashCrowdPay.htm?crowdNo=<?php echo $v->crowd_no;?>" target="_blank">充值</a> 
						&nbsp;
						<a href="javascript:;" onclick="openChanges('<?php echo $v->crowd_no;?>','<?php echo $data['rows']['page_index'];?>')">更改</a>
						&nbsp;
					</td>
				</tr>
		<?php endforeach; ?>		
	<?php endif; ?>
				<tr>
					<td colspan="5" class="floor-tdtable" style="font-size:1.2rem;">
						<?php echo $data['rows']['page_index'];?>/<?php echo ceil($data['rows']['total_size']/$data['rows']['page_size']);?>页 
						<a href="<?php echo apth_url('activities/'.($data['rows']['page_index']-1));?>">上一页</a> <a href="<?php echo apth_url('activities/'.($data['rows']['page_index']+1));?>">下一页</a> &nbsp;
						<input type="text" id="getGo" class="input-getgo"/> <input type="button" value="GO" class="input-btngo" onclick="getGo()"/>
						共 <?php echo $data['rows']['total_size'];?> 条
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- 加载JS文件 -->
<script src="<?php echo apth_url(THEME.'/template/activities/activities.js');?>"></script>