<!-- 加载CSS文件 -->
<link href="<?php echo apth_url(THEME.'/layer/theme/default/layer.css');?>" rel="stylesheet" type="text/css">
<link href="<?php echo apth_url(THEME.'/css/style.css');?>" rel="stylesheet" type="text/css">
<link href="<?php echo apth_url(THEME.'/css/page.css');?>" rel="stylesheet" type="text/css">
<!-- 加载JS文件 -->
<script src="<?php echo apth_url(THEME.'/js/jquery-1.11.2.min.js');?>"></script>
<script src="<?php echo apth_url(THEME.'/layer/layer.js');?>"></script>
<script src="<?php echo apth_url(THEME.'/js/js.js');?>"></script>