<!-- 加载CSS文件 -->
<link href="./admin/componet/login/template/index/index.css" rel="stylesheet" type="text/css">

<div class="body-block">
	<form class="login-block login-block-form">
		<ul class="login-block-ul">
			<li class="login-block-li1">后台登录</li>
			<li class="login-block-span"></li>
			<li class="login-block-li2 login-block-line2">
				<input type="text" name="username" placeholder="邮箱/手机号码"/>
			</li>
			<li class="login-block-li2 login-block-line3">
				<input type="password" name="password" placeholder="密码"/>
			</li>
			<li class="login-block-chec">
				<label><input type="checkbox" name="remember" value="on" class="login-block-ckbox"/> 记住帐号</label>
				<!-- <a href="javasript:void(0);" class="login-block-a">找回帐号或密码</a> -->
			</li>
			<li class="login-block-button">登录</li>
		</ul>
	</form>
</div>
<div class="body-logo-t">
	Applet－信息管理系统，专门为微信开发者打造后台；二次开源系统，类似MINA框架，与微信开发架框相似；&nbsp; &nbsp; <a href="">更多了解点击&gt;&gt;</a>
</div>
<h1 class="body-logo-h">Applet－管理分类（服务号、企业号、订阅号、微信小程序）项目提供信息管理、发布、后台控制</h1>
<ul class="link clear">
	<li class="link-f1"><a href="#">关于我们</a></li>
	<li><a href="#">服务协议</a></li>
</ul>
<div class="fl">
	Copyright © 2012-2018 Applet. All Rights Reserved.
</div>
<!-- 加载JS文件 -->
<script src="./admin/componet/login/template/index/index.js"></script>